:root {
  --font-opensans: 'Open Sans', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --dark-color: #2c1f1d;
  --middle-color: #563d35;
  --light-color: #b19a8d;
  --white-color: #ffffff;
  --black-color: #000000;
  --header-top-link: #333333;
  --search-input-bg: #f4f4f4;
  --header-center-border: #a6a6a6;
  --sale-navigation-link: #a6a6a6;
  --header-bottom-link: #2e2e2e;
  --content-color: #d9d9d9;
  --price-new: #545454;
  --price-old: #9a9a9a;
  --catalog-title: #202020;
  --catalog-card-description: #f7f7f7;
  --footer-bg: #f5f5f5;
  --footer-link: #676767;
  --dropdown-line: #676767;
  --transition: all 0.3s ease-in-out;
}
