* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

body.burger-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

.content {
  max-width: 1240px;
  display: block;
  margin: 0 auto;
  padding: 0 40px;
}

@media (max-width: 992px) {
  .content {
    padding: 0 20px;
  }
}
.logo {
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: var(--black-color);
}

:root {
  --font-opensans: "Open Sans", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
  --dark-color: #2c1f1d;
  --middle-color: #563d35;
  --light-color: #b19a8d;
  --white-color: #ffffff;
  --black-color: #000000;
  --header-top-link: #333333;
  --search-input-bg: #f4f4f4;
  --header-center-border: #a6a6a6;
  --sale-navigation-link: #a6a6a6;
  --header-bottom-link: #2e2e2e;
  --content-color: #d9d9d9;
  --price-new: #545454;
  --price-old: #9a9a9a;
  --catalog-title: #202020;
  --catalog-card-description: #f7f7f7;
  --footer-bg: #f5f5f5;
  --footer-link: #676767;
  --dropdown-line: #676767;
  --transition: all 0.3s ease-in-out;
}

.product__card {
  display: flex;
  flex-direction: column;
}
.product__card-img {
  width: 100%;
  max-width: 230px;
  height: 270px;
  max-height: 270px;
  background-color: var(--content-color);
}
.product__card-description {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
.product__card-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product__card-title {
  font-weight: 400;
  font-size: 14px;
  color: #545454;
}
.product__card-subtitle {
  font-weight: 400;
  font-size: 10px;
  color: #747474;
}
.product__card-bottom {
  display: flex;
  gap: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.product__card-price {
  display: flex;
  gap: 5px;
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 14px;
}
.product__card-price-new {
  color: var(--price-new);
}
.product__card-price-old {
  text-decoration: line-through;
  color: var(--price-old);
}
.product__card-rate {
  display: flex;
  gap: 3px;
}

.main__button {
  border: 1px solid rgba(84, 84, 84, 0.5);
  border-radius: 3px;
  padding: 7px 21px;
  width: 295px;
  height: 40px;
  background-color: transparent;
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: 14px;
  color: var(--black-color);
  text-align: center;
  display: block;
  margin: 30px auto 0;
}
@media (max-width: 576px) {
  .main__button {
    width: 200px;
    height: 40px;
    padding: 10px 21px;
  }
}

.burger {
  position: absolute;
  top: 0;
  right: -100%;
  background-color: var(--content-color);
  width: 100%;
  height: 100%;
  padding: 50px 0px;
}
.burger.open {
  right: 50%;
  transform: translateX(50%);
}
.burger__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.burger__close {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  outline: none;
}
.burger__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.burger__lang-group {
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: 11px;
  line-height: 214%;
  color: var(--black-color);
}
.burger__lang.active {
  font-size: 16px;
  line-height: 147%;
}
.burger__navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
.burger__bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.burger__link {
  font-weight: 400;
  font-size: 14px;
  color: var(--header-bottom-link);
}

header {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.header-top__block {
  display: flex;
  align-items: center;
  gap: 23px;
}
@media (max-width: 768px) {
  .header-top__block {
    gap: 16px;
  }
}
.header-top__link {
  color: var(--header-top-link);
  font-weight: 400;
  font-size: 15px;
  line-height: 240%;
  text-align: center;
}
@media (max-width: 576px) {
  .header-top {
    display: none;
  }
}

.header-center {
  padding: 12px 0;
  border-top: 1px solid var(--header-center-border);
  border-bottom: 1px solid var(--header-center-border);
}
@media (max-width: 576px) {
  .header-center {
    margin-top: 36px;
  }
}
.header-center__wrapper {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
}
@media (max-width: 576px) {
  .header-center__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.header-center__left {
  display: flex;
  gap: 20px;
}
@media (max-width: 576px) {
  .header-center__left {
    display: none;
  }
}
.header-center__lang-group {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header-center__lang {
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: 11px;
  line-height: 214%;
  color: var(--black-color);
}
.header-center__lang.active {
  font-size: 16px;
  line-height: 147%;
}
.header-center__right {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.header-center__search {
  position: relative;
}
.header-center__input {
  background: var(--search-input-bg);
  width: 296px;
  height: 38px;
  border: none;
  outline: none;
}
@media (max-width: 1280px) {
  .header-center__input {
    width: 246px;
  }
}
@media (max-width: 992px) {
  .header-center__input {
    width: 150px;
  }
}
@media (max-width: 768px) {
  .header-center__input {
    width: 48px;
  }
}
@media (max-width: 576px) {
  .header-center__input {
    display: none;
  }
}
.header-center__input-icon {
  position: absolute;
  right: 13px;
  top: 8px;
}
@media (max-width: 576px) {
  .header-center__input-icon {
    display: none;
  }
}
.header-center__navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header-center__burger {
  display: none;
}
@media (max-width: 576px) {
  .header-center__burger {
    display: block;
  }
}

.header-bottom__menu {
  display: flex;
  gap: 30px;
  justify-content: center;
  position: relative;
}
@media (max-width: 576px) {
  .header-bottom__menu {
    gap: 16px;
  }
}
.header-bottom__menu-link {
  font-weight: 400;
  font-size: 14px;
  color: var(--header-bottom-link);
  padding-bottom: 13px;
}
@media (min-width: 769px) {
  .header-bottom__menu-link:hover ~ .dropdown {
    display: block;
  }
}

.banner__block {
  background-color: var(--content-color);
  width: 100%;
  height: 620px;
}

.sale {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1050px;
  padding: 0 20px;
  margin-top: 53px;
}
.sale__navigation {
  display: flex;
  gap: 50px;
  justify-content: center;
}
@media (max-width: 576px) {
  .sale__navigation {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}
.sale__navigation-link {
  font-weight: 400;
  font-size: 20px;
  color: var(--sale-navigation-link);
}
.sale__navigation-link.active {
  font-weight: 700;
  text-decoration: underline;
  color: var(--black-color);
}
.sale__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-self: center;
  gap: 30px;
  margin-top: 30px;
}
@media (max-width: 992px) {
  .sale__grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .sale__grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 480px) {
  .sale__grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 992px) {
  .sale__grid > *:nth-of-type(n + 10) {
    display: none;
  }
}
@media (max-width: 768px) {
  .sale__grid > *:nth-of-type(n + 7) {
    display: none;
  }
}
@media (max-width: 480px) {
  .sale__grid > *:nth-of-type(n + 4) {
    display: none;
  }
}

.catalog {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1270px;
  padding: 0 20px;
  margin-top: 47px;
}
.catalog__title {
  font-weight: 400;
  font-size: 20px;
  color: var(--catalog-title);
  text-align: center;
}
.catalog__grid {
  margin-top: 23px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 23px;
  grid-row-gap: 30px;
  justify-items: center;
}
@media (max-width: 992px) {
  .catalog__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .catalog__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 992px) {
  .catalog__grid > *:nth-of-type(n + 5) {
    display: none;
  }
}
@media (max-width: 768px) {
  .catalog__grid > *:nth-of-type(n + 3) {
    display: none;
  }
}
.catalog__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 395px;
}
.catalog__card-img {
  height: 540px;
  width: 100%;
  max-width: 395px;
  background-color: var(--content-color);
}
.catalog__card-description {
  background-color: var(--catalog-card-description);
  padding: 20px 15px;
}

.news {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1070px;
  padding: 0 20px;
  margin-top: 50px;
  font-family: "Mulish", sans-serif;
  color: var(--black-color);
}
.news__title {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
}
.news__subtitle {
  font-weight: 400;
  font-size: 15px;
}
.news__subtitle:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .news__subtitle:last-child {
    display: none;
  }
}

.category {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1190px;
  padding: 0 20px;
  margin-top: 100px;
}
.category__wrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
@media (max-width: 480px) {
  .category__wrapper > *:last-child {
    display: none;
  }
}
.category__block {
  display: flex;
  gap: 66px;
  align-items: center;
}
@media (max-width: 992px) {
  .category__block {
    flex-direction: column-reverse;
  }
}
.category__preview-img {
  width: 100%;
  max-width: 606px;
  height: 500px;
  background-color: var(--content-color);
}
.category__cards-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category__cards {
  display: flex;
  gap: 20px;
}
@media (max-width: 480px) {
  .category__cards {
    flex-direction: column;
  }
}
.category__button {
  width: 100%;
}

.blog {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1270px;
  padding: 0 20px;
  margin-top: 100px;
}
.blog__title {
  font-size: 24px;
  text-transform: uppercase;
  color: var(--black-color);
  text-align: center;
  font-weight: 400;
}
.blog__cards {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
@media (max-width: 992px) {
  .blog__cards > :nth-last-child(1) {
    display: none;
  }
}
@media (max-width: 768px) {
  .blog__cards {
    flex-direction: column;
    align-items: center;
  }
}
.blog__card {
  max-width: 395px;
}
.blog__card-img {
  background-color: var(--content-color);
  width: 100%;
  height: 460px;
}
.blog__card-description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--black-color);
  background-color: var(--catalog-card-description);
  padding: 15px 10px 17px 15px;
}
.blog__card-title {
  font-size: 24px;
  font-weight: 400;
}
.blog__card-subtitle {
  font-size: 16px;
  font-weight: 400;
}

.media {
  display: block;
  margin: 100px auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
}
.media__top {
  margin-right: 100px;
  margin-left: 65px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .media__top {
    margin-inline: 0px;
  }
}
@media (max-width: 768px) {
  .media__top {
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 480px) {
  .media__top {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
.media__title {
  font-weight: 400;
  font-size: 24px;
  color: var(--black-color);
}
@media (max-width: 768px) {
  .media__title {
    font-size: 18px;
  }
}
.media__button {
  padding: 10px 35px;
  background-color: var(--content-color);
}
.media__posts {
  display: flex;
  gap: 20px;
  margin-top: 44px;
}
@media (max-width: 992px) {
  .media__posts > :nth-last-child(1) {
    display: none;
  }
}
@media (max-width: 992px) {
  .media__posts {
    flex-direction: column;
    align-items: center;
  }
}
.media__post {
  width: 100%;
  max-width: 400px;
  height: 400px;
  background-color: var(--content-color);
}

.footer {
  margin: 0 auto;
  background-color: var(--footer-bg);
}
.footer__wrapper {
  width: 100%;
  max-width: 1160px;
  padding: 35px 20px;
  display: block;
  margin: 0 auto;
}
.footer__block {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .footer__block {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
.footer__subtitle {
  font-weight: 400;
  font-size: 16px;
  color: var(--color-black);
}
.footer__left {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer__media {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__right {
  display: flex;
  gap: 50px;
}
@media (max-width: 480px) {
  .footer__right {
    gap: 20px;
  }
}
.footer__catalog {
  width: 160px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__catalog {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer__catalog {
    align-items: center;
  }
}
.footer__catalog-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
@media (max-width: 480px) {
  .footer__catalog-list {
    align-items: center;
  }
}
.footer__catalog-list-item {
  list-style: none;
}
.footer__catalog-list-item > a {
  font-weight: 400;
  font-size: 14px;
  color: var(--footer-link);
}
.footer__contacts {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__contacts {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer__contacts {
    align-items: center;
  }
}
.footer__contacts-title {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 12px;
  color: var(--footer-link);
}
.footer__contacts-subtitle {
  font-family: var(--font-roboto);
  font-weight: 400;
  font-size: 14px;
  color: var(--footer-link);
  text-wrap: nowrap;
}
.footer__phone, .footer__email, .footer__address {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 480px) {
  .footer__phone, .footer__email, .footer__address {
    align-items: center;
  }
}
.footer__created-by {
  background-color: var(--black-color);
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: var(--white-color);
  padding: 8px 0px;
}

.dropdown {
  padding: 30px;
  background-color: var(--white-color);
  position: absolute;
  top: 15px;
  display: none;
  height: 288px;
}
.dropdown.active {
  display: flex;
}
@media (min-width: 769px) {
  .dropdown {
    min-width: 455px;
  }
  .dropdown:hover {
    display: block;
  }
}
@media (max-width: 768px) {
  .dropdown {
    min-width: none;
    height: auto;
  }
}
.dropdown__wrapper {
  display: flex;
  gap: 40px;
  height: 100%;
}
.dropdown__submenu {
  order: 2;
  position: relative;
  display: none;
}
.dropdown__submenu-1, .dropdown__submenu-2 {
  position: absolute;
  left: 100%;
  display: none;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  padding-left: 20px;
}
.dropdown__submenu-1.active, .dropdown__submenu-2.active {
  display: flex;
}
@media (min-width: 769px) {
  .dropdown__submenu-1:hover, .dropdown__submenu-2:hover {
    display: flex;
  }
}
@media (max-width: 768px) {
  .dropdown__submenu-1, .dropdown__submenu-2 {
    position: static;
    padding-left: 0px;
  }
}
.dropdown__menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  order: 1;
  height: 100%;
  border-right: 1px solid var(--dropdown-line);
}
@media (max-width: 768px) {
  .dropdown__menu {
    border-right: none;
  }
}
.dropdown__menu-list {
  display: flex;
  gap: 40px;
}
.dropdown__menu-item {
  display: flex;
  gap: 30px;
  align-items: center;
  padding-right: 20px;
}
@media (max-width: 768px) {
  .dropdown__menu-item {
    padding-right: 0px;
  }
}
@media (max-width: 768px) {
  .dropdown__menu-item-icon {
    transform: rotate(90deg);
  }
}

@media (min-width: 769px) {
  .dropdown__menu-item.first:hover ~ .dropdown__submenu-1 {
    display: flex;
  }
  .dropdown__menu-item.second:hover ~ .dropdown__submenu-2 {
    display: flex;
  }
}/*# sourceMappingURL=index.css.map */