.footer {
  margin: 0 auto;
  background-color: var(--footer-bg);
  &__wrapper {
    width: 100%;
    max-width: 1160px;
    padding: 35px 20px;
    display: block;
    margin: 0 auto;
  }
  &__block {
    display: flex;
    justify-content: space-between;

    @media (max-width: 576px) {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: var(--color-black);
  }
  &__left {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  &__media {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  &__right {
    display: flex;
    gap: 50px;

    @media (max-width: 480px) {
      gap: 20px;
    }
  }
  &__catalog {
    width: 160px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      align-items: center;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;

      @media (max-width: 480px) {
        align-items: center;
      }
      &-item {
        list-style: none;

        & > a {
          font-weight: 400;
          font-size: 14px;
          color: var(--footer-link);
        }
      }
    }
  }

  &__contacts {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: 768px) {
      width: 100%;
    }
    @media (max-width: 480px) {
      align-items: center;
    }

    &-title {
      font-family: var(--font-roboto);
      font-weight: 400;
      font-size: 12px;
      color: var(--footer-link);
    }
    &-subtitle {
      font-family: var(--font-roboto);
      font-weight: 400;
      font-size: 14px;
      color: var(--footer-link);
      text-wrap: nowrap;
    }
  }
  &__phone,
  &__email,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media (max-width: 480px) {
      align-items: center;
    }
  }

  &__created-by {
    background-color: var(--black-color);
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: var(--white-color);
    padding: 8px 0px;
  }
}
