.main__button {
  border: 1px solid rgba(84, 84, 84, 0.5);
  border-radius: 3px;
  padding: 7px 21px;
  width: 295px;
  height: 40px;
  background-color: transparent;
  font-family: var(--font-roboto);
  font-weight: 300;
  font-size: 14px;
  color: var(--black-color);
  text-align: center;
  display: block;
  margin: 30px auto 0;

  @media (max-width: 576px) {
    width: 200px;
    height: 40px;
    padding: 10px 21px;
  }
}
