.dropdown {
  padding: 30px;
  background-color: var(--white-color);
  position: absolute;
  top: 15px;
  display: none;
  height: 288px;

  &.active {
    display: flex;
  }
  @media (min-width: 769px) {
    min-width: 455px;

    &:hover {
      display: block;
    }
  }
  @media (max-width: 768px) {
    min-width: none;
    height: auto;
  }

  &__wrapper {
    display: flex;
    gap: 40px;
    height: 100%;
  }
  &__submenu {
    order: 2;

    position: relative;
    display: none;
    &-1,
    &-2 {
      position: absolute;
      left: 100%;
      display: none;
      width: 100%;
      flex-direction: column;
      gap: 15px;
      padding-left: 20px;

      &.active {
        display: flex;
      }

      @media (min-width: 769px) {
        &:hover {
          display: flex;
        }
      }
      @media (max-width: 768px) {
        position: static;
        padding-left: 0px;
      }
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    order: 1;
    height: 100%;
    border-right: 1px solid var(--dropdown-line);
    @media (max-width: 768px) {
      border-right: none;
    }
    &-list {
      display: flex;
      gap: 40px;
    }
    &-item {
      display: flex;
      gap: 30px;
      align-items: center;
      padding-right: 20px;
      @media (max-width: 768px) {
        padding-right: 0px;
      }
      &-icon {
        @media (max-width: 768px) {
          transform: rotate(90deg);
        }
      }
    }
  }
}
@media (min-width: 769px) {
  .dropdown__menu-item.first:hover ~ .dropdown__submenu-1 {
    display: flex;
  }
  .dropdown__menu-item.second:hover ~ .dropdown__submenu-2 {
    display: flex;
  }
}
